:root {
  --title-color: #2e2f42;
  --text-color: #434455;
  --button-text-collor: #4d5ae5;
  --button-bacground-collor: #f4f4fd;
  --main-text: Roboto;
  --Logo-text: Raleway;
  --hover-color: #404bbf;
  --main-bacground-color: #ffffff;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--main-bacground-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/* Header */
.header-container {
  display: flex;
  align-items: center;
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: fixed;
  width: 100%;
  z-index: 2;
}

/* Header LOGO */
.studioword {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-right: 76px;
}
/* Navigation */

.nav-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list .nav-link {
  list-style: none;
  font-family: var(--main-text);
  font-style: normal;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-decoration: none;
  position: relative;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list .item:not(:last-child) {
  margin-right: 40px;
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus {
  color: var(--hover-color);
}
.nav-link::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}
.nav-link.active::after {
  background: #404bbf;
}
.nav-list .active {
  color: #404bbf;
}

/* Addresses */
.address {
  margin-left: 332px;
}
.contacts-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.contacts-list .item:not(:last-child) {
  margin-right: 40px;
}
.address {
  font-style: normal;
}
.contact-link {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}
/* Hero section */
.hero {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/img-background/people-office1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  margin: 0;
  padding-top: 260px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin-bottom: 48px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;

  display: block;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background: var(--hover-color);
}
/* Features */
.futures {
  padding-top: 120px;
  padding-bottom: 120px;
}
.features-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0;
  display: flex;
}
.features-item {
  width: 264px;
}
.features-icon-container {
  background: #f4f4fd;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-item:not(:last-child) {
  margin-right: 24px;
}
.subject-features {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 8px;
}
.text-features {
  font-weight: 800;
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
/* What are we doing */
.whatwedo-section {
  padding-bottom: 120px;
}
.business-list {
  padding: 0;
  display: flex;
  margin: 0;
}
.title {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.business-list .item:not(:last-child) {
  margin-right: 24px;
}

/* Team section */
.team-section {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-list {
  margin: 0px;
  display: flex;
  padding: 0;
}
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 0;
  margin-top: 8px;
}
.socials-item {
  width: 40px;
  height: 40px;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover {
  background-color: #404bbf;
}
.socials-link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: #f4f4fd;
}

.team-member {
  background: var(--main-bacground-color);
  width: 264px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list .team-member:not(:last-child) {
  margin-right: 24px;
}
.name-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-top: 0px;
  margin-bottom: 8px;
}
.position-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0px;
}
.card-content {
  padding: 32px 0;
}
/* Customers */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list {
  margin: 0;
  display: flex;
  padding: 0;
  gap: 24px;
}
.customers-container .title {
  line-height: 1.1;
}
.customers-item {
  width: 168px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-icon {
  fill: currentColor;
}
.customers-link:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: #404bbf;
  color: #404bbf;
}
.customers-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: #404bbf;
  color: #404bbf;
}
.customers-item:focus .customer-icon {
  fill: var(--hover-color);
}
.customers-item:hover .customer-icon {
  fill: var(--hover-color);
}
/* Footer */
.footer {
  background: var(--title-color);
  height: 312px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo-link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

  margin-bottom: 16px;
  display: inline-block;
}
.footer-second-logoword {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 264px;
}
/* Footer Social media */
.footer-social {
}
.footer-socials {
  display: flex;
  gap: 16px;
}
.footer-social-icon {
  fill: #f4f4fd;
}
.footer-part1 {
  margin-right: 120px;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* Footer Subscriber */
.footer-subscriber {
  margin-left: 80px;
}

.footer-subscriber-item {
  display: flex;
}
.footer-input {
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  display: block;
  width: 264px;
  height: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding-left: 16px;
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-subscribe-btn {
  margin-left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--button-text-collor);
  color: #ffffff;
  width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-btn:hover {
  background-color: #31d0aa;
}
.footer-subscribe-btn:focus {
  background-color: #31d0aa;
}
.footer-btn-icon {
  margin-left: 16px;
}

/* Portfolio page */
/* Header is the same as at the main page */
/* Filters section */
/* buttons menu */
.filers-section {
  padding-top: 172px;
  padding-bottom: 120px;
}
.button-list {
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 72px;
  margin-top: 0;
}
.button-list .item:not(:last-child) {
  margin-right: 24px;
}
.filter-button {
  background: var(--button-bacground-collor);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-text-collor);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Portfolio-links-section */
.portfolio-list .link {
  text-decoration: none;
  list-style: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list {
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
}
.portfolio-card {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.portfolio-card:nth-child(3n) {
  margin-right: 0;
}
.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.main-text {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 8px;
}
.type {
  font-family: var(--main-text);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0;
}
/* Portfolio Footer */

/* Modal window */
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 24px;
  padding-top: 72px;
  position: absolute;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1000ms ease-in;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-100%, -85%);
  transition: transform 500ms ease-out, opacity 500ms;
}
.modal-close-btn {
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-icon {
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon {
  fill: #ffffff;
}
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff;
}
.modal_agreement {
  display: block;
}
/* FORM */
.form-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.form-fiel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form-wrapper {
  position: relative;
  margin-bottom: 8px;
  display: block;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
.form-input:focus + .form-fiel-icon {
  fill: #4d5ae5;
}
.form-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.form-textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.form-textarea:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}
.form-fiel-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}
/* Form Checkbox */
.modal-agreement {
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;
}

.checkbox-checked {
  opacity: 0;
  transition: 250ms;
}
.checkbox-unchecked {
  opacity: 1;
  transition: 250ms;
}
.modal-agreement-checkbox:checked + .form-checkbox-icon > .checkbox-unchecked {
  opacity: 0;
}
.modal-agreement-checkbox:checked + .form-checkbox-icon > .checkbox-checked {
  opacity: 1;
}
.modal-agreement-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  user-select: none;
  margin-left: 8px;
}
.modal-agreement-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration: underline;
  color: #4d5ae5;
}

.form-btn {
  padding: 16px 32px;
  background: #4d5ae5;
  border: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  min-height: 56px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.form-btn:focus {
  background: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Porrtfolio overlay */
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px 164px 32px;
  transform: translateY(100%);
  transition: transform 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text {
  color: var(--button-bacground-collor);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  background: #4d5ae5;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card .link:hover .overlay-text {
  transform: translateY(0);
}
.portfolio-card .link:focus .overlay-text {
  transform: translateY(0);
}
